{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="GATE_Future_Labs,Vr_trading,algo_trading_brainwave,vr_reality,value_innovation">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="GATE Trader  Website">
	<meta property="og:title" content="GATE Trader  Website">
	<meta property="og:description" content="GATE Trader  Website">
	<meta property="og:image" content="https://gatefuturelabs.com">
	<meta name="format-detection" content="telephone=no">
    <title>Gate Trader </title>
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon11.png' %}">
	<link href="{% static './vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">
    <link href="{% static './css/style.css' %}" rel="stylesheet">
    <style>
        #otpless-login-page{
width: 536px !important;
}
    </style>

</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
<!--                                <div class="auth-form">-->
<!--									<div class="text-center mb-3">-->
<!--										<a href="index.html" class="brand-logo">-->
<!--											 <img src="{% static 'images/trader13.png' %}" style="width:169px;height:69px;align:right;margin-right:1%;">-->
<!--										</a>-->
<!--									</div>-->
<!--                                    <h4 class="text-center mb-4">Sign in your account</h4>-->
<!--&lt;!&ndash;                                   <form action="{% url 'index' %}">&ndash;&gt;-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="loginEmail"><strong>Email:</strong></label>-->
<!--                                            <input id="loginEmail" type="text" class="form-control" placeholder="Enter Email" name="email"  required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" />-->
<!--                                             <span id="login-email-warning" style="color:red;" class="warning">Please enter a valid email.</span>-->
<!--                                        </div>-->
<!--                                        <div class="form-group">-->
<!--                                            <label for="loginPassword"><strong>Password:</strong></label>-->
<!--                                            <input id="loginPassword" type="password" class="form-control" placeholder="Enter Password" name="pwd"  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"  />-->
<!--                                            <span id="login-pwd-warning" style="color:red;" class="warning">Please enter password.</span>-->
<!--                                        </div>-->
<!--                                        <div class="form-row d-flex justify-content-between mt-4 mb-2">-->
<!--                                            <div class="form-group">-->
<!--                                               <div class="custom-control custom-checkbox ms-1">-->
<!--													<input type="checkbox" class="form-check-input" id="basic_checkbox_1">-->
<!--													<label id="remember-label" class="form-check-label" for="basic_checkbox_1">Remember my preference</label>-->
<!--												</div>-->
<!--                                            </div>-->
<!--                                            <div class="form-group">-->
<!--                                                <a  id="forgot-password-link" href="page-forgot-password.html">Forgot Password?</a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="text-center">-->
<!--                                            <button type="submit" value="Login" id="loginBtn" style="background-color: #1d1160;border-color:#1d1160;color:#c6a54a;" class="btn btn-primary btn-block">Sign Me In</button>-->
<!--                                        </div>-->
<!--                                    </form>-->

                                    <div id="otpless-login-page">

<!--                                    <div class="new-account mt-3">-->
<!--                                        <p id="signup-prompt" >Don't have an account? <a class="text-primary" href="{% url 'register' %}">Sign up</a></p>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="footer"><br>
            <img src="{% static 'images/01.png' %}" style="margin-left:1%;">
            <br><br>
            <h3 style="margin-left:20%;color:grey;">AUTOPILOT YOUR WEALTH CODE</h3>
            <p style="margin-left:-20%;">GateTrader is a NSE India Option Trading platform that provides 100% automated trading algorithms that deploys multiple trading strategies for NIFTY, FinNifty BankNifty Index options. </p>

            <h6 style="margin-left:20%;color:grey;font-size:100%;">
              <a href="">About Us</a>&nbsp;&nbsp;
              <a href="{% url 'privacy' %}">Privacy Policy</a>&nbsp;&nbsp;
              <a href="{% url 'terms' %}">Terms & Conditions</a>&nbsp;&nbsp;
              <a href="{% url 'contact' %}">Contact Us</a>
           </h6>

            <div class="copyright">

            <p style="margin-left:-15%;" >Copyright © Designed &amp; Developed by <a href="https://gatefuturelabs.com/" target="_blank">GateFutureLabs</a> 2024

                 <img src="{% static 'images/lg1.png' %}" style="width:70px;height:21px;align:right;margin-right:3%;">
            </p>
            </div>

        </div>
<!--**********************************
	Scripts
***********************************-->
<!-- Required vendors -->
<script src="{% static './vendor/global/global.min.js' %}"></script>
<script src="{% static './vendor/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>
<script src="{% static './js/custom.js' %}"></script>
<script src="{% static './js/deznav-init.js' %}"></script>
<script type="text/javascript">var $zoho= $zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"siq6b056cf36dbbad2676aa8c8ab632e518f6eb23adfb3aa6b9d54d9252687a855ca0c23f166ef104aebd34a7821259555b", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript"; s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");</script>



<script type="text/javascript" src="https://otpless.com/auth.js" ></script>
<script type="text/javascript">
 function otpless(otplessUser) {
 window.location.href = '/index';
  console.log(JSON.stringify(otplessUser));
 }
</script>

</body>
</html>